<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="./styles.css"  type="text/css" rel="stylesheet">

</head>
<body>

<h2 style="text-align:center">Product Card</h2>

<div id="producto-item" class="card">
    <img src="../../images/planta_a.jpeg" alt="Denim Jeans" style="width:100%">
    <h1>Planta de Hornato</h1>
    <p class="price">$19.99</p>
    <p>Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
    <p><button>Agregar al Carrito</button></p>
</div>

</body>
</html>