<head>
    <meta charset="UTF-8">
    <meta  name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Registrarse</title>
    <link rel="stylesheet" href="view/signin/css/styles.css">
</head>


<div id="">
    <h2>Registrarse</h2>
    <p>Por favor llene este formulario para crear una cuenta.</p>

    <form action="index.php?control=session&action=register" method="post">

        <div>
            <label for="txtUsername">Usuario:</label>
            <input name="txtUsername" id="txtUsername" type="text">
        </div>

        <div>
            <label for="txtName">Nombre:</label>
            <input name="txtName" id="txtName" type="text">
        </div>

        <div>
            <label for="txtEmail">Correo:</label>
            <input name="txtEmail" id="txtEmail" type="text">
        </div>

        <div>
            <label for="txtPhone">Télefono:</label>
            <input name="txtPhone" id="txtPhone" type="text">
        </div>

        <div>
            <label for="txtPassword">Contraseña:</label>
            <input name="txtPassword" id="txtPassword" type="password">

            <label for="txtConfirmPassword">Confirme Contraseña:</label>
            <input name="txtConfirmPassword" id="txtConfirmPassword" type="password">
        </div>


        <div>
            <input type="submit" value="Enviar">
        </div>

        <p>Ya tienes cuenta? <a href="index.php?control=session&action=login">Inicia sesión aquí</a>.</p>

    </form>


</div>