<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="./styles.css"  type="text/css" rel="stylesheet">
</head>
<body>

<header id="header">
    <div class="container">
        <div class="logo_cont">
            <a href="#">
                <img alt="Ahuehuete" src="../../images/logo_main.png"
                     width=80" height="40">
            </a>

        </div>
        <div class="header_menu">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Nosotros</a>
                    <ul>
                        <li><a href="#">Galería</a></li>
                        <li><a href="#">Flores</a></li>
                        <li><a href="#">Arboles</a></li>
                    </ul>
                </li>
                <li><a href="#">Mi Cuenta</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="header_search">
            <form role="search" method="get" id="searchform">
                <input type="text" placeholder="Buscar" name="s" id="s" />
                <input type="image" src="../../images/search-icon.jpg" />
            </form>
        </div>

    </div>
</header>







<div class="footer">
    <p>Footer</p>
</div>

</body>
</html>