<style>


    .float-container {
        border: 0px solid #fff;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .float-child {
        width: 50%;
        float: left;
        padding: 5px;
    }


    /* Breadcrums */

    .contenedor-breadcrum {

    }

    ul.breadcrumb {
        padding: 10px 16px;
        list-style: none;
        background-color: #eee;
    }
    ul.breadcrumb li {
        display: inline;
        font-size: 18px;
    }
    ul.breadcrumb li+li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
    }
    ul.breadcrumb li a {
        color: #0275d8;
        text-decoration: none;
    }
    ul.breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline;
    }

    .text-imagen {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h2 {
        text-align: center;
    }

</style>

<div class="llenar-imagen">
    <img src="./images/img_user_session.png" alt="" />
</div>

<!--<div class="contenedor-breadcrum">
    <ul class="breadcrumb">
        <li><a href="index.php">Inicio</a></li>
        <li><a href="#"></a></li>
    </ul>
</div>-->


<div class="row">

    <div class="side">
        <h2>Inicia sesión para vivir tu mejor experiencia</h2>
        <a href="index.php?control=session&action=login"><button class="boton-grande">Iniciar Sesión</button></a>



        <h2>Ver Productos</h2>
        <h5>Conoce todas nuestras categorias:</h5>
        <div class="llenar-imagen">
            <a href="index.php?control=session&action=login">
                <img src="./images/home-todas.jpeg" alt="" />

            </a>


        </div>
        <p>Navega entre todas las distintas categorias que tenemos para ti.</p>

        <h3>Lo más vendido</h3>
        <p>Conoce las categorias más vendidas:</p>
        <div class="llenar-imagen" style="height:90px;">
            <img src="./images/home-flores.jpeg" alt="" />
        </div><br>
        <div class="llenar-imagen" style="height:90px;">
            <img src="./images/suculentas-home.jpeg" alt="" />
        </div><br>
        <div class="llenar-imagen" style="height:90px;">
            <img src="./images/arboles-home.jpeg" alt="" />
        </div>
    </div>
    <div class="main">

        <div class="float-container">

            <h2>Categorias Principales</h2>

            <div class="float-child">
                <div class="llenar-imagen">
                    <img src="./images/ceramic.png" alt="" />
                </div>
            </div>

            <div class="float-child">
                <div class="llenar-imagen">
                <img src="./images/hanger.png" alt="" />
            </div>
            </div>

            <div class="float-child">
                <div class="llenar-imagen">
                    <img src="./images/hortensia.jpg" alt="" />
                </div>
            </div>

            <div class="float-child">
                <div class="llenar-imagen">

                    <img src="./images/narciso.jpg" alt="" />
                </div>
            </div>


        </div>


        <h2>TITLE HEADING</h2>
        <h5>Title description, Dec 7, 2017</h5>
        <div class="llenar-imagen" style="height:200px;">
            <img src="./images/img_user_session.png" alt="" />
        </div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <br>

        <h2>TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="llenar-imagen" style="height:200px;">
            <img src="./images/vivero_a.jpeg" alt="" />
        </div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

        <h2>TITLE HEADING</h2>
        <h5>Title description, Dec 7, 2017</h5>
        <div class="llenar-imagen" style="height:200px;">
            <img src="./images/img_user_session.png" alt="" />
        </div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <br>

    </div>
</div>